# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Node
node_modules/